@model Spike.Support.Accounts.Models.ChallengeViewModel
@using (Html.BeginForm(
    "Challenge",
    "Challenge",
    FormMethod.Post,
    new Dictionary<string, object> { { "action", $"{Model.ResponseUrl}" } }))
{
    
    @*@Html.AntiForgeryToken()*@
    @Html.HiddenFor(m => m.ChallengeId)
    <div class="col-md-3">
        @Html.LabelFor(m => m.Challenge)
    </div>
    <div class="col-md-2">
        This is try @Model.Tries of @Model.MaxTries
    </div>
    <div class="col-md-5">
        @Html.TextBoxFor(m => m.Response)
    </div>
    <div class="col-md-2">
        <input class="pull-left" type="submit" value="Hit It" />
    </div>
    if (Model.Message != null)
    {
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Message)
            </div>
        </div>
    }
}