@using System.Web.UI.WebControls
@using Spike.Support.Shared.Models
@{
    var menuItems = ((ViewBag.Menu ?? new List<NavItem>()) as List<NavItem>);
    var activeMenuItem = (ViewBag.ActiveMenuKey ?? menuItems.FirstOrDefault()?.Key??string.Empty);

}
<div class="row">
    <div class="col-lg-12" id="panelHeader">
        @Html.Raw(ViewBag.Header?? string.Empty)
    </div>    
</div>
<div class="row">
    @if (menuItems.Any())
    {
        <div class="col-lg-2" id="panelNavigation">
            <div class="list-item-group">
                @foreach (var menuItem in menuItems)
                {
                    var active = (activeMenuItem.ToLower() == @menuItem.Key.ToLower()? "active": "");
                    <a 
                        class="list-group-item list-group-item-action @active" 
                        id="menu@menuItem.Key"
                        href="@menuItem.NavigateUrl">@menuItem.Text</a>
                }
            </div>
        </div>
        <div class="col-lg-10" id="panelContent">
            @RenderBody()
        </div>
    }
    else
    {
        <div class="col-lg-12" id="panelContent">
            @RenderBody()
        </div>
    }
    
</div>
