@model Spike.Support.Accounts.Models.AccountsChallengeViewModel
@using (Html.BeginForm(
    "AccountsChallengeResponse",
    "Accounts",
    FormMethod.Post,
    new Dictionary<string, object>() { { "action", (object)$"{Model.ResponseUrl}" } }))
{
    @Html.HiddenFor(m => m.AccountId)
    @Html.HiddenFor(m => m.EntityType)
    @Html.HiddenFor(m => m.Identity)
    @Html.HiddenFor(m => m.ReturnTo)
    <div class="col-md-2">
        @Html.LabelFor(m => m.Challenge)
    </div>
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Response)
    </div>
    <div class="col-md-2">
        <input type="submit" value="Hit It" />
    </div>
}