@model Spike.Support.Accounts.Models.AccountViewModel
<div class="row">
    <div class="col-md-12">
        <hr />
        <h4>Account Details</h4>
        <hr />
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        @Html.LabelFor(model => model.AccountId)
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.AccountName)
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.Created)
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        @Html.DisplayTextFor(model => model.AccountId)
    </div>
    <div class="col-md-4">
        <a href="~/views/accounts/@Model.AccountId">@Html.DisplayTextFor(model => model.AccountName)</a>
    </div>
    <div class="col-md-4">
        @Html.DisplayTextFor(model => model.Created)
    </div>
</div>
